[build-system]
requires = ["flit_core >=2,<3"]
build-backend = "flit_core.buildapi"

[tool.flit.metadata]
dist-name = "xarray-behave"
module = "xarray_behave"
author = "Jan Clemens"
author-email = "clemensjan@googlemail.com"
home-page = "https://github.com/janclemenslab/xarray-behave"
classifiers = ["License :: OSI Approved :: MIT License"]
requires-python = ">=3.7"
requires = ['numpy', 'scipy', 'xarray', 'h5py', 'zarr', 'flammkuchen',
            'dask', 'toolz', 'samplestamps', 'soundfile']
description-file = "README.md"

[tool.flit.metadata.requires-extra]
gui = ['pyside2', 'pyqtgraph==0.11.0rc0', 'pyvideoreader', 'opencv-python',
       'sounddevice', 'scikit-image', 'pyyaml', 'defopt']

[tool.flit.scripts]
xb = "xarray_behave.gui.app:cli"
